@tailwind base;
@tailwind components;
@tailwind utilities;

.laiba-iqbal {
  margin-left: 15px !important;
  width: 48% !important;
}

.main_content {
  width: 75% !important;
}

/* .main_card {
    width: 23.6% !important;
} */

.heading ~ div > .buy_now_1 > button {
  width: 40px !important;
  height: 40px !important;
  font-size: 28px !important;
}

.heading ~ div > .buy_now_1 > .input_hide {
  width: 40px !important;
  height: 40px !important;
}

.heading ~ div > span:nth-child(3) {
  font-size: 12px !important;
}

.heading ~ div > p:nth-child(4) {
  font-size: 16px !important;
  font-family: "futura_medium";
}

.heading ~ div > p:nth-child(6) {
  font-size: 18px !important;
  /* font-family: "futura_medium"; */
}

/*.heading ~ div {*/
/*  padding: 12px 0px 0px 20px !important;*/
/*}*/

.product_slider_09_heading_icon > img:nth-child(1) {
  margin-right: 12px;
}

.product_slider_09_heading_icon > img:nth-child(2) {
  margin-left: 12px;
}

.product_slider_09_heading > h1 {
  font-size: 40px !important;
}

.product_slider_09_heading > h5 {
  font-weight: inherit !important;
  font-size: 26px !important;
}

.product_slider_09_heading > span > img {
  width: 30px !important;
  height: 30px !important;
}

.product_slider_09_heading > p:nth-child(5) {
  font-size: 18px !important;
}

.product_slider_09_heading > button:nth-child(6) {
  padding-left: 5.12rem !important;
  padding-right: 5.12rem !important;
  height: 55px;
  font-size: 24px;
}

.product_slider_09_heading > h4:nth-child(8) {
  font-size: 26px;
}

.product_slider_09_heading > p:nth-child(9) {
  font-size: 18px;
}

.customer_ratings > h2 {
  font-size: 26px !important;
}

.customer_ratings > h1 > b {
  font-size: 40px !important;
  font-family: "futura_bold" !important;
}

.customer_ratings > .star_custom > img {
  width: 30px !important;
  height: 30px !important;
}

.star_custom > p {
  font-size: 18px;
}

.rank_custom_main > .rank_custom > p:nth-child(1) {
  font-size: 20px;
}

.rank_custom_main > .rank_custom > p:nth-child(3) {
  font-size: 18px;
}

.customer_ratings > h1 > span {
  font-family: "futura_bold" !important;
  font-size: 26px !important;
}

.laiba-iqbal_09 {
  justify-content: end !important;
  width: 50% !important;
}

.fresh_fruit {
  margin: 14px 0px !important;
}

.side_bar_main {
  width: 21% !important;
}

.laiba-iqbal_09 > img:nth-child(1) {
  margin-right: 10px !important;
  margin-left: 0px !important;
}

.location-img {
  width: 36% !important;
}

.location-img ~ select {
  width: 64% !important;
}

.location-img > img:nth-child(1) {
  margin-right: 5px;
}

.location-img > img:nth-child(2) {
  display: none !important;
}

.laiba-iqbal_09 > img:nth-child(2) {
  margin-left: 10px !important;
  margin-right: 0px;
}

#side_bar_id_menu > div > .side_bar {
  box-shadow: none !important;
}

.product_name_location > span {
  width: 11%;
}

.option_setting_px {
  position: relative;
}

.main_content > div > .main_card {
  margin: 25px 0px;
}

.main_content > div > .main_card:nth-child(2) {
  margin: 0px 0px 15px 0px;
}

.main_content > div > .main_card:nth-child(3) {
  margin: 0px 0px 15px 0px;
}

.main_content > div > .main_card:nth-child(4) {
  margin: 0px 0px 15px 0px;
}

.main_content > div > .main_card:nth-child(5) {
  margin: 0px 0px 15px 0px;
}

.none_input {
  visibility: hidden;
  background-color: #ECECEC;
  padding: 15px 15px 15px 15px;
  border-radius: 5px;
  transform: translateY(100px);
  opacity: 0;
  z-index: 100;
  transition: 0.4s all;
  width: 100%;
  position: absolute;
  top: 95%;
  left: 0%;
}

.none_input > form > input {
  border: 1px solid #898989;
  background-color: transparent;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 5px 15px 5px 10px;
}

.fresh_fruit > p {
  font-size: 15px;
}

@media (max-width: 1330px) {
  .option_setting_px {
    margin-left: 30px !important;
    margin-right: 30px !important;
  }

  .setting_heading {
    font-size: 50px !important;
  }

  .bara_px_setting {
    justify-content: center !important;
    /*flex-flow: column;*/
    align-items: end;
  }
}

@media (max-width: 1200px) {
  .bara_px_setting {
    justify-content: end !important;
  }

  .option_setting_px {
    margin: 0px 0px !important;
    /*width: 100%;*/
  }

  .px_main_bara {
    /*flex-flow: column !important;*/
    align-items: center;
  }

  .setting_heading {
    font-size: 40px !important;
  }

  h1.setting_heading ~ h5 {
    font-size: 20px !important;
  }

  .laiba-iqbal {
    width: 59% !important;
  }

  .input-setting > input {
    font-size: 15px;
  }

  .input-setting > button {
    font-size: 15px;
    line-height: 1;
  }

  .card > img {
    width: 100% !important;
    height: 85% !important;
  }

  .new_item {
    background-position: left 50% top 25%, right 0% top 0%;
    background-size: 104% 120%, 25%;
  }

  .best_card {
    width: 30%;
  }

  #side_bar_time,
  #side_bar_date,
  #side_bar_promo,
  #side_bar_id,
  #side_bar_id_pl,
  #side_bar_id_menu,
  #side_bar_pay {
    width: 35%;
  }

  .buy_now_1 > button,
  .input_hide {
    width: 40px;
    /*height: 40px;*/
  }

  .main_card > .star ~ p {
    font-size: 16px;
  }

  .star > span {
    font-size: 9px;
  }

  .star > img {
    width: 14px;
    height: 14px;
  }

  .main_card > p {
    font-size: 14px;
  }

  .main_card > span {
    font-size: 12px;
  }

  .main_card {
    padding: 10px 0px 0px 15px;
  }

  .heading > h1 {
    font-size: 30px;
  }

  .side_bar > h1 {
    font-size: 24px;
  }

  .fresh_fruit > p {
    font-size: 12px;
  }

  .fresh_fruit > img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
  }

  .fresh_fruit {
    margin: 10px 0px;
  }

  .complaints_form_main {
    margin: 150px 0px;
  }

  .product_name_location > span {
    width: 12%;
  }

  .product_btn_remove_track > button {
    padding: 8px 12px;
  }
}

@media (max-width: 992px) {
  .complaints_call {
    width: 130px;
    height: 100px;
  }

  .complaints_form {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: -200px;
  }

  .setting_heading {
    font-size: 30px !important;
  }

  .card > img {
    width: 53% !important;
    height: 85% !important;
  }

  .best_card {
    width: 32%;
    flex-flow: row wrap;
  }

  .heading_cart {
    margin-left: 0px;
    margin-top: 10px;
  }

  .footer_link {
    width: 100%;
  }

  .laiba-iqbal_09 {
    width: 60%;
  }

  .laiba-iqbal {
    width: 61% !important;
  }

  .team__condition_us {
    height: 375px !important;
  }

  .team__condition_us > h1 {
    text-align: center !important;
    font-size: 40px;
  }

  #side_bar_time,
  #side_bar_date,
  #side_bar_promo,
  #side_bar_id,
  #side_bar_id_pl,
  #side_bar_id_menu,
  #side_bar_pay {
    width: 45%;
  }

  .main_card {
    width: 30%;
  }

  .main_content > div > .main_card:nth-child(5) {
    margin: 15px 0px 15px 0px;
  }

  .side_bar {
    padding: 10px 10px;
  }

  .listing_star {
    width: 100%;
  }

  #side_bar_id_menu {
    width: 45% !important;
  }

  .product_btn > button {
    font-size: 15px;
    padding: 5px 10px;
    margin: 0px;
  }

  .checkout_para > p,
  .checkout_para > a {
    font-size: 15px;
  }

  .summary_input {
    width: 33%;
  }

  .summary_input > h6 {
    font-size: 16px;
  }

  .summary_heading > h6 {
    font-size: 16px;
  }

  .summary_heading > h4,
  .summary_heading > h5 {
    font-size: 22px;
  }

  .subscibtion > h1,
  .promo_code > h1,
  .delivery_schedule > h1,
  .wishlist > h1 {
    font-size: 26px;
  }

  .promo_code > a > .promo_code_input > p,
  .promo_code_input_1 > p {
    font-size: 14px;
  }

  .promo_code_input > input {
    font-size: 15px;
    padding: 5px 12px 5px 20px;
    height: 90%;
  }

  .promo_code > h1 {
    margin: 15px 0px;
  }

  .wishlist > .product_1 {
    justify-content: space-between !important;
  }

  .complaints_form_main {
    height: 450px;
  }

  .give_a_friend > div > button {
    right: 33%;
  }

  .team__condition_us_0_heading > h1 {
    margin-left: 50px;
    font-size: 36px;
  }

  .product_name_location > span {
    width: 17%;
  }

  .product_btn_remove_track > button {
    padding: 8px 12px;
  }

  .product_btn_remove_track > button {
    font-size: 12px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .give_a_friend > div > button {
    width: 15%;
    right: 25%;
  }

  .checkout_para > p,
  .checkout_para > a {
    font-size: 16px;
  }

  .bara_px_setting {
    justify-content: end !important;
  }

  .option_setting_px {
    width: 80%;
  }

  .px_main_bara {
    /*flex-flow: row wrap !important;*/
    align-items: center;
  }

  .setting_heading {
    font-size: 27px !important;
  }

  h1.setting_heading ~ h5 {
    font-size: 15px !important;
  }

  .laiba-iqbal {
    width: 59% !important;
  }

  .input-setting {
    padding-left: 15px;
    height: 35px !important;
  }

  .input-setting > img {
    width: 15px !important;
    height: 15px !important;
  }

  .input-setting > input {
    font-size: 12px;
  }

  .input-setting > button {
    font-size: 12px;
    line-height: 1;
    padding-left: 10px;
    padding-right: 10px;
  }

  .card > img {
    width: 65% !important;
    height: 100% !important;
  }

  .new_item {
    background-position: left 50% top 25%, right 0% top 0%;
    background-size: 104% 120%, 25%;
  }

  .new_item > button {
    width: 85px !important;
    padding: 3px 10px 3px 10px !important;
  }

  .new_item > button > span > img {
    width: 15px;
    height: 15px;
  }

  .footer_link {
    width: 100%;
  }

  .best_card {
    width: 30%;
  }

  .location-img {
    width: 30%;
  }

  .bara_px_setting {
    flex-flow: row wrap !important;
  }

  .laiba-iqbal_09 {
    justify-content: end !important;
  }

  .team__condition_us {
    height: 250px !important;
  }

  #side_bar_time,
  #side_bar_date,
  #side_bar_promo,
  #side_bar_id,
  #side_bar_id_pl,
  #side_bar_id_menu,
  #side_bar_pay {
    width: 45%;
  }

  .block_input {
    visibility: visible;
    transform: translateY(0px);
    opacity: 1;
    box-shadow: 0px 3px 24px #b3b3b4;
  }

  .main_content > div > .main_card {
    /*height: 200px !important;*/
    width: 31% !important;
    margin: 15px 0px;
  }

  .main_content > div > .main_card:nth-child(2) {
    margin: 0px 0px 15px 0px !important;
  }

  .main_content > div > .main_card:nth-child(3) {
    margin: 0px 0px 15px 0px !important;
  }

  .main_content > div > .main_card:nth-child(4) {
    margin: 0px 0px 15px 0px !important;
  }

  .rank_custom > p {
    font-size: 8px;
  }

  .rank_custom > img {
    width: 85% !important;
  }

  .star_custom > p {
    font-size: 10px;
  }

  .star_custom > img,
  .rating_custom > img {
    width: 12px;
    height: 12px;
  }

  .rating_custom {
    align-items: center;
  }

  .customer_ratings_star > p {
    font: 12px sans-serif;
  }

  .product_slider_09_heading_icon {
    justify-content: space-between;
  }

  .product_slider_09_heading_icon > img {
    width: 20px;
    height: 20px;
  }

  .rating_custom > img:nth-child(1) {
    width: 40px;
    height: 40px;
  }

  .name_area_1 > label {
    font-size: 14px;
  }

  .name_area_2 > label {
    font-size: 14px;
  }

  .name_area > h1 {
    font-size: 26px !important;
  }

  .name_area > img {
    height: 35px !important;
  }

  .address_enter > label {
    font-size: 14px;
  }

  #side_bar_id_menu {
    width: 55% !important;
  }

  .summary > h1 {
    font-size: 24px;
  }

  .summary_heading > h6 {
    font-size: 15px;
  }

  .summary_heading > h4,
  .summary_heading > h5 {
    font-size: 20px;
  }

  .summary_coprright > p {
    font-size: 14px;
  }

  .wishlist > h1 {
    font-size: 28px;
  }

  .product > h5 {
    font-size: 18px;
  }

  .product_1 > div > p {
    font-size: 15px;
  }

  .product_img > img {
    width: 70px;
    height: 70px;
    margin-left: 20px;
  }

  .continue_shopping > button {
    font-size: 15px;
    height: 40px;
  }

  .continue_shopping > a {
    font-size: 18px;
  }

  .continue_shopping > a > img {
    width: 15px;
  }

  .product_btn > button {
    font-size: 12px;
    padding: 5px 20px;
    margin: 0px !important;
  }

  .best_card {
    align-items: center !important;
  }

  .best_card > img {
    margin-right: 15px;
  }

  .complaints_call {
    width: 90px;
    height: 80px;
    margin: -40px 25px;
  }

  .complaints_form {
    margin-bottom: -200px;
    height: 400px;
  }

  .complaints_form > h1 {
    font-size: 26px;
  }

  .complaints_form > input {
    padding: 0.7rem 1rem;
  }

  .complaints_form > textarea {
    height: 28%;
  }

  .complaints_form_main {
    height: 375px;
  }

  .social_btn {
    justify-content: center;
  }

  .team__condition {
    padding: 1.5rem 1.5rem;
  }


  .address_menual {
    width: 75% !important;
  }

  .address_menual > .form {
    padding: 20px !important;
  }

  .name_area > h1 {
    font-size: 22px !important;
  }

  .address_enter > input {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .mobile_number > input:nth-child(4) {
    padding-left: 60px;
    padding-right: 22px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .mobile_number > span:nth-child(3) {
    top: 61%;
    left: 23%;
  }

  .mobile_number > label {
    font-size: 12px;
  }

  .mobile_number > input:nth-child(2) {
    width: 16%;
  }

  .team__condition_us_0_heading,
  .team__condition_us_0_img {
    width: 100%;
  }

  .team__condition_us_0_heading > h1 {
    font-size: 50px;
    text-align: center;
    margin: 0px 22px;
    margin-bottom: 40px;
  }

  .summary_input_check_box {
    width: 70% !important;
  }

  .team__condition_us_0_img {
    padding: 0px 40px;
  }

  .delivery_address > h1:nth-child(2) {
    font-size: 45px;
  }

  .product_btn_remove_track > button {
    padding: 8px 8px;
    font-size: 14px;
    width: 110px;
  }

  .product_name_location > span {
    width: 18%;
  }

  .complaint_form_btn > button {
    padding: 8px 15px !important;
    font-size: 18px;
  }

  .wishlist > .delivery_address ~ .product_ongoing ~ .give_a_friend {
    width: 100%;
  }

  .wishlist > .delivery_address ~ .product_ongoing ~ .give_a_friend > div > input {
    width: 35%;
    padding: 0.75rem 2rem;
  }

  .give_a_friend > div > button {
    width: 13%;
    right: 28%;
  }
}

@media (max-width: 640px) {
  .card > img {
    width: 45px !important;
    height: 45px !important;
  }

  .card {
    /* width: 106px !important; */
    height: 82px !important;
  }




  .subscribe_img > img {
    object-fit: fill !important;
  }

  #side_bar_time,
  #side_bar_date,
  #side_bar_promo,
  #side_bar_id,
  #side_bar_id_pl,
  #side_bar_id_menu,
  #side_bar_pay {
    width: 55%;
  }

  #side_bar_id_menu {
    width: 55% !important;
  }

  .summary > h1 {
    font-size: 22px;
  }

  .summary_heading > h6 {
    font-size: 14px;
  }

  .summary_heading > h4,
  .summary_heading > h5 {
    font-size: 18px;
  }

  .summary_coprright > p {
    font-size: 12px;
  }

  .wishlist > h1 {
    font-size: 26px;
  }

  .product > h5 {
    font-size: 16px;
  }

  .product_1 > div > p {
    font-size: 14px;
  }

  .product_img > img {
    width: 65px;
    height: 65px;
    margin-left: 20px;
  }

  .continue_shopping > button {
    font-size: 14px;
    height: 35px;
  }

  .continue_shopping > a {
    font-size: 16px;
  }

  .continue_shopping > a > img {
    width: 14px;
  }

  .product_btn > button {
    font-size: 10px;
    padding: 3px 8px;
    margin: 0px !important;
  }

  .complaints_form > h1 {
    font-size: 20px;
  }

  .product_slider_09 {
    width: 100%;
    margin-bottom: 20px;
  }

  .summary_input_check_box {
    width: 40% !important;
  }

  .delivery_address > h1:nth-child(2) {
    font-size: 40px;
  }
}

@media (max-width: 580px) {
  .product_ongoing {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .complaints_form {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-bottom: -200px;
  }

  .complaints_call {
    width: 75px;
    height: 65px;
    margin: -30px 20px;
  }

  .complaints_form > h1 {
    font-size: 17px;
  }

  .option_setting_px {
    width: 60%;
  }

  .header_heading > a > h4 {
    font-size: 16px;
  }

  #side_bar_id_menu {
    width: 65% !important;
  }

  .location-img {
    width: 50%;
  }

  .setting_heading {
    font-size: 13px !important;
  }

  h1.setting_heading ~ h5 {
    font-size: 10px !important;
  }

  .laiba-iqbal_09 {
    justify-content: end;
  }

  .input-setting > input {
    font-size: 8px;
  }

  .input-setting > button {
    font-size: 8px;
    line-height: 1;
    padding-left: 3px;
    padding-right: 3px;
  }

  .input-setting {
    width: 75% !important;
  }

  .input-setting > img {
    width: 10px !important;
    height: 10px !important;
  }

  .input-setting {
    padding-left: 15px;
    height: 25px !important;
  }

  .option_setting_px {
    width: 70%;
  }

  #side_bar_time,
  #side_bar_date,
  #side_bar_promo,
  #side_bar_id,
  #side_bar_id_pl,
  #side_bar_id_menu,
  #side_bar_pay {
    width: 70%;
  }

  .General_btn {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-content: center;
  }

  .General_btn > button {
    margin: 5px 0px !important;
  }

  .give_a_friend > div > button {
    width: 25%;
    right: 8%;
  }

  .product_ongoing > h5 {
    margin-left: 0px;
    margin-right: 0px;
    font-size: 22px;
    padding: 0px;
  }

  .margin_setting > div {
    margin-bottom: 0px;
  }

  .summary_input_check_box {
    width: 60% !important;
  }

  .team__condition_us_0_heading > h1 {
    font-size: 30px;
  }

  .delivery_address > h1 {
    font-size: 30px;
  }

  .product_ongoing {
    margin: 2rem 3rem;
  }

  .product_name_location > span {
    width: 35%;
  }

  .wishlist > .product_1 > div {
    width: 38%;
  }

  .product_btn_remove_track > button {
    font-size: 12px;
    width: 90px;
  }

  .wishlist > .delivery_address ~ .product_ongoing ~ .give_a_friend {
    width: 100%;
  }

  .wishlist > .delivery_address ~ .product_ongoing ~ .give_a_friend > div > input {
    width: 50%;
  }

  .img-card {
    height: 87px !important;
  }

  .main_card {
    /*height: 100% !important;*/
  }

  .img-card {
    padding-right: 0px;
  }

  .img-card > img {
    object-fit: fill !important;
  }

  .buy_now {
    height: 30px !important;
  }
}

@media (max-width: 420px) {
  .main_card > .counter > button,
  .main_card > .counter > input {
    font-size: 1rem;
    width: 22px;
    height: 22px;
  }

  #side_bar_time,
  #side_bar_date,
  #side_bar_promo,
  #side_bar_id,
  #side_bar_id_pl,
  #side_bar_id_menu,
  #side_bar_pay {
    position: fixed !important;
    top: auto !important;
    bottom: 0 !important;
    right: 0 !important;
    height: 60vh !important;
    max-height: 100vh !important;
    width: 100% !important;
    display: none;
    z-index: 100;
    border-radius: 10px !important;
    overflow-y: auto;
  }

  #side_bar_id_menu {
    height: 100vh !important;
  }

  /*.main_card {*/
  /*  height: 190px !important;*/
  /*}*/
  .best_card {
    width: 100% !important;
  }

  .card {
    /* width: 106px !important; */
    height: 82px !important;
  }

  .card > a > img {
    width: 45px !important;
    height: 45px !important;
    object-fit: contain !important;
  }

  .new_item_1 {
    background-size: 120%, 25% !important;
  }

  .footer_icon > div {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer_icon > div > i {
    font-size: 15px;
  }

  .product > h5 {
    font-size: 16px !important;
  }

  .summary_heading > h6 {
    font-size: 12px !important;
  }

  .summary_input {
    width: 65% !important;
  }

  .background_setting {
    background-size: 100% 100% !important;
  }

  .summary_heading > .summary_heading_input_box_avokado {
    font-size: 14px !important;
    margin-top: 10px !important;
  }

  .complaints_form {
    margin-bottom: -200px !important;
  }

  .complaints_call {
    margin-top: -25px !important;
  }

  .new_item > button {
    width: 70px !important;
    padding: 3px 5px 3px 5px !important;
    font-size: 10px;
  }

  .option_setting_px {
    width: 57%;
  }

  .main_content {
    width: 100%;
  }

  .side_bar_main > .side_bar {
    width: 100% !important;
    padding: 20px 20px;
  }

  .main_content > div > .main_card {
    /*height: 178px !important;*/
    width: 47% !important;
    margin: 15px 0px !important;
  }

  .main_content > div > .main_card:nth-child(4) {
    margin: 15px 0px 15px 0px !important;
  }

  .heading {
    justify-content: space-between !important;
    margin: 0px !important;
  }

  .heading > h1 {
    font-size: 20px;
  }

  .heading > select {
    padding: 5px;
    width: 50%;
  }

  .main_content {
    margin-top: 30px !important;
  }

  .mySwiper_6 > .swiper-wrapper > .main_card {
    /*height: 190px !important;*/
  }

  .mySwiper_6 {
    height: 275px;
  }


  .mySwiper_4 {
    left: 18% !important;
    top: 70% !important;
    width: 175px !important;
  }

  .mySwiper_4 > .swiper-wrapper > .swiper-slide {
    width: 37px !important;
    height: 37px !important;
    margin: 0px 4px !important;
  }

  .product_slider_1 {
    height: 363px !important;
  }

  /*.product_slider_1 > div > img {*/
  /*  width: 100% !important;*/
  /*  height: 100% !important;*/
  /*}*/


  .product_slider_09_heading_icon {
    width: 30%;
  }

  .product_slider_09_heading {
    padding: 0px 10px !important;
  }

  .name_area_1 > label {
    font-size: 12px !important;
  }

  .name_area_2 > label {
    font-size: 12px !important;
  }

  .address_enter > label {
    font-size: 12px !important;
  }

  .delivery_address > h1 {
    font-size: 22px;
  }

  .team__condition {
    padding: 1.5rem 1.5rem;
  }

  .product_1 > .product_img > img {
    margin-left: 0px;
  }

  .product_1 > div > p {
    font-size: 10px;
  }

  .product_btn > button {
    font-size: 8px;
    padding: 2px 3px;
    margin: 0px !important;
  }

  .product_btn_remove > button > i {
    font-size: 18px;
  }

  .product > h5 {
    font-size: 12px !important;
  }

  .product {
    padding: 12px 15px;
  }

  .promo_code > a > .promo_code_input {
    padding: 12px 15px;
  }

  .promo_code_input_1 > p {
    margin-left: 10px;
    font-size: 10px !important;
  }

  .promo_code > a > .promo_code_input > p {
    font-size: 10px !important;
  }

  .promo_code > h1 {
    font-size: 26px !important;
  }

  .summary_heading > h3 {
    font-size: 14px;
  }

  .address_menual {
    width: 90% !important;
  }

  .address_menual > .form {
    padding: 20px !important;
  }

  .name_area > h1 {
    font-size: 22px !important;
  }

  .address_enter > input {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .mobile_number > input:nth-child(4) {
    padding-left: 60px;
    padding-right: 22px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .mobile_number > span:nth-child(3) {
    top: 61%;
    left: 23%;
  }

  .mobile_number > label {
    font-size: 12px;
  }

  .mobile_number > input:nth-child(2) {
    width: 16%;
  }

  .delivery_address {
    /*justify-content: center !important;*/
  }

  .product_ongoing {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .product_ongoing > h5 {
    font-size: 18px;
  }

  .team__condition_us_0_heading > h1 {
    font-size: 22px;
  }

  .summary_input {
    width: 75% !important;
  }

  .summary_input > h6 {
    font-size: 14px;
  }

  .banner_div_minus > .product_slider_09:nth-child(1) {
    height: 460px;
  }

  .banner_div_minus > .product_slider_09:nth-child(1) > .product_slider_09_heading > img:nth-child(1) {
    width: 50%;
  }

  .expairy_date_btn > button {
    font-size: 10px;
  }

  .expairy_date_btn > button > img {
    width: 30%;
  }

  .expairy_date > h5 {
    font-size: 12px;
  }

  .delivery_address > h1 {
    font-size: 22px;
  }

  .October {
    font-size: 10px !important;
  }

  .product_name_location > span {
    width: 75%;
  }

  .product_name_location > p {
    font-size: 10px !important;
  }

  .complaint_form_btn > button {
    padding: 4px 8px !important;
    font-size: 14px;
  }

  .team__condition_us_img {
    background-size: 100% 100%;
  }

  .wishlist > .delivery_address ~ .product_ongoing ~ .give_a_friend {
    width: 85%;
  }

  .product_1 > .product_btn {
    flex-flow: column;
    width: 9.5% !important;
    height: 100%;
  }

  .product_btn > input {
    width: 100%;
    text-align: center;
    padding: 2px 2px !important;
    background-color: #7CB118;
    color: #FFFFFF;
  }

  .product_btn > .add_product {
    display: block;
  }

  .product_btn > .add_cart {
    display: none;
  }

  .wishlist > .product_1 {
    padding: 0px 0px 0px 12px;
    /*flex-flow: row wrap;*/
  }

  .product_1 > .product_img {
    width: 20% !important;
  }

  .product_1 > div:nth-child(2) {
    display: flex;
    /*width: 67%;*/
    flex-flow: row wrap;
  }

  .product_1 > div:nth-child(2) > div {
    width: 100%;
    text-align: start;
  }

  .product_1 > div:nth-child(2) > div:nth-child(1) > p {
    font-size: 14px;
  }

  .product_1 > div:nth-child(2) > div > p {
    font-size: 12px;
  }

  .product_btn > button {
    font-size: 14px;
    padding: 2px 3px;
    margin: 0px !important;
    border-radius: 10px 0px !important;
    width: 100%;
    height: 35.3%;
  }

  .product_1 > .product_btn {
    justify-content: end;
  }

  .add_product_1,
  .add_product_1 ~ .add_product {
    display: none !important;
  }

  .add_product_4 {
    border-radius: 0px 0px 10px 0px !important;
  }

  .add_product_5 {
    border-radius: 10px 0px 0px 0px !important;
  }

  .mySwiper_4,
  .product_slider_09 {
    display: none;
  }

  .show {
    position: relative;
    width: 100%;
  }

  .show > .product_slider_09_heading_icon > img {
    display: none;
  }

  .show > .product_slider_09_heading_icon ~ h5 {
    display: flex;
    font-size: 22px !important;
    align-items: center;
  }

  .show > .product_slider_09_heading_icon ~ h5 > pre {
    font-size: 14px !important;
  }

  .show > .product_slider_09_heading_icon ~ h5 ~ p {
    display: none;
  }

  .show > .product_btn {
    /*position: absolute;*/
    /*top: 40%;*/
    /*right: 0%;*/
    width: 40%;
    /*flex-flow: row-reverse;*/
  }

  .show > .product_slider_09_heading_icon ~ h5 ~ p ~ .product_btn > button {
    border-radius: 3px !important;
    width: 25px;
    height: 25px;
  }

  .show > .product_slider_09_heading_icon ~ h5 ~ p ~ .product_btn > input {
    background-color: transparent;
    width: 25px;
    color: #232323;
  }

  .show ~ div {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  .show ~ div > h4 {
    width: 40%;
    text-align: center;
    padding-left: 15px;
    padding-bottom: 1.25rem;
    margin-bottom: 0px !important;
    position: relative;
  }

  .situation {
    position: relative;
  }

  .situation::before {
    content: " ";
    position: absolute;
    bottom: 0%;
    left: 53%;
    background-color: #CAA052;
    border-radius: 100%;
    z-index: 100;
    width: 7px;
    height: 7px;
  }

  .show ~ div ~ .product_slider_boot {
    position: relative;
    z-index: -1;
    box-shadow: 0px 8px 24px #00000017;
    border-radius: 8px !important;
    clip-path: polygon(51% 3%, 55% 8%, 60% 11%, 64% 10%, 70% 8%, 74% 4%, 78% 0, 100% 0, 100% 100%, 0 100%, 0 0, 48% 0);
  }

  .situation_heandle {
    clip-path: polygon(15% 4%, 18% 8%, 22% 12%, 25% 10%, 30% 5%, 33% 1%, 78% 0, 100% 0, 100% 100%, 0 100%, 0 0, 13% 0) !important;
  }

  .show,
  .show ~ div,
  .show ~ div ~ .product_slider_boot {
    display: block;
  }

  .show ~ div {
    display: flex;
  }

  .consectetur_adipiscing {
    display: none;
  }

  .cardse_sec_main {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .cardse_sec_main > div {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .cardse_sec_main > div > img {
    width: 30px !important;
    height: 30px !important;
  }

  .cardse_sec_main > .cardse_sec > img {
    width: 60px !important;
    height: 85px !important;
  }

  .cardse_first > img {
    margin-bottom: 20px;
  }
}
